* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: #202028;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin: 0;
}

#stat-panel {
  float:right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  /* width = stat panel width / (game canvas width + stat panel width)
  ** width = 60 / (240 + 60) = 20%
  ** while canvas has a border, so it should be a little less than 20%
  */
  width: 19%;
  text-align: center;
}

#tetris-canvas {
  border: solid 2px #ffffff;
  width: 80%;
}
